* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 246, 238);
    font-family: 'Bradon Text' , sans-serif;
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    border-bottom: 0.1rem solid ;
    border-color: rgba(228, 228, 228, 0.897);
}

p {
    font-weight: 300;
    font-size: 1rem;
}

header div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    padding: 0 3rem 0 3rem;
}

nav {
    padding-top: 2rem;

}

nav ul {
    font-size: 1.5rem;
    text-align: center;
    border-top: 0.1rem solid black;
    padding-left: 10%;
    padding-right: 10%;
    height: 5rem;
}

nav ul li {
    display: inline-block;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: space-between;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: brown;
    text-decoration: underline;
    font-size: 1.7rem;
}

section{
    display: flex;
    margin-bottom: 1rem;
    filter: brightness(0.7);
}

section + footer {
    margin-bottom: 1rem;
}


article {
    flex: 1;
    border-bottom: 0.1rem solid rgb(204, 204, 204);
    margin: 0 2rem 0 2rem;
    
}

#hero-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.527)), url("https://i.etsystatic.com/31725690/r/il/b2d504/4632372596/il_fullxfull.4632372596_4lyo.jpg");
    background-size: cover;
    background-position: center;
    color: rgba(228, 228, 228, 0.897);
    text-shadow: 0.05rem 0.05rem 0.05rem  rgb(228, 228, 228);
    padding-left: 3rem;
    padding-right: 40%;
    text-align: left;
    height: 15rem;
    margin: 0 5% 0 5%;
    border-radius: 4rem;
}

article h1 a {
    color: rgba(228, 228, 228, 0.897);
    text-decoration: none;
}

article h1 a:hover {
    color: rgb(206, 206, 206);
}

article ul {
    list-style: none;
    font-size: 1.3rem;
}

.articles{
    padding: 3rem 5% 2rem 5%;
    justify-content: space-between;
    text-align: left;
}

.articles article{
    padding: 0 2rem 0 2rem;
}

.articles article h2 {
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}

.articles article p {
    padding: 0 3rem 3rem 0;
}


#img {
    display: block;
    width: 15rem;
    height: 10rem;
    margin: 0 auto 0 auto;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 2rem;
}

footer {
    margin: 2rem 10% 2rem 10%;
    display: flex;
    gap: 2rem 1rem;
}

footer div img {
    max-width: 14rem;
}

footer p {
    text-align: right;
    border-bottom: 0.1rem solid burlywood;
    color: rgb(20, 20, 20);
}

footer div {
    flex: 1;
}

